{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Sign Language Interpreter</h1>
        <p class="lead">This application uses machine learning to interpret American Sign Language (ASL) gestures in real-time.</p>
        <hr class="my-4">
        <p>Choose an option below to get started.</p>
        <a class="btn btn-primary btn-lg" href="{{ url_for('live_recognition') }}" role="button">Live Recognition</a>
        <a class="btn btn-secondary btn-lg" href="{{ url_for('upload') }}" role="button">Upload Training Data</a>
        <a class="btn btn-info btn-lg" href="{{ url_for('training') }}" role="button">Train Model</a>
    </div>
{% endblock %}