{% extends "base.html" %}

{% block title %}Upload Image{% endblock %}

{% block content %}
    <h2>Upload Image for Training</h2>
    <p>Upload an image of a hand sign to add it to the training dataset. Please specify the letter that the sign represents.</p>

    <form method="post" enctype="multipart/form-data" class="mt-4">
        <div class="mb-3">
            <label for="image" class="form-label">Choose images:</label>
            <input type="file" name="image" id="image" class="form-control" accept=".png, .jpg, .jpeg" required multiple>
        </div>
        <div class="mb-3">
            <label for="letter" class="form-label">Letter:</label>
            <input type="text" name="letter" id="letter" class="form-control" maxlength="1" required>
        </div>
        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
{% endblock %}